/*apical_web_03event_170322.html*/
#container-content .content .main-content h2 {
    font-size: 19px;
    border: 1px solid #e072a1;
    padding: 10px 15px;
    line-height:24px;
    font-family: NotoSansJPRegular;
}
#container-content .content .article-content-03 h2{
    margin-top:60px;
}
#container-content .content .main-content .small-title{
    color:white;
    padding:10px;
    border-radius: 5px;
    background-color: #4991d3;
    margin:30px 0;
}
#container-content .content .main-content .small-title:nth-of-type(1){
    margin-top:50px;
}
#container-content .content .main-content h3{
    border-left: 4px solid #ffffff;
    font-size: 18px;
    margin:0;
    padding:0 12px;
    font-family: NotoSansJPDemiLight;
    line-height: 24px;
}
#container-content .content .main-content p{
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 30px;
    font-family: NotoSansJPLight;
}
#container-content .content .main-content .group-span {
    border-collapse: separate;
    border-spacing:1px 0;
    line-height: 27px;
}
#container-content .content .main-content .group-span td {
    border-bottom:1px dashed #eaa1c0;
}
#container-content .content .main-content .group-span td:last-child {
    width: 100%;
}
#container-content .content .main-content .group-span tr:last-child td{
    border:none;
}
#container-content .content .main-content .group-span .first-col{
    vertical-align: top;
    border-bottom: 1px dashed #eaa1c0;
    color:#e072a1;
    word-break: keep-all;
    padding-left:40px;
    font-size: 14px;
    font-family: NotoSansJPDemiLight;
}
#container-content .content .main-content .group-span .second-col {
    padding-left:70px;
    border-bottom: 1px dashed #eaa1c0;
}
#container-content .content .article-content-03 h4{
    font-size:20px;
    padding-bottom:10px;
    font-family: NotoSansJPRegular;
    line-height: 24px;
}
#container-content .content .article-content-03 table{
    line-height: 31px!important;
    margin-bottom: 15px;
    border-collapse: separate;
    border-spacing: 1px 0;
}
#container-content .content .main-content .border-solid-bottom{
    border-bottom:1px solid #eaa1c0!important;
}
#container-content .content .main-content .border-dash-bottom{
    border-bottom:1px dashed #eaa1c0!important;
    margin:0;
}
#container-content .content .main-content .text_3_1 .fa-chevron-down{
    width:100%;
    color:#f6d5e3;
    font-size: 18px;
}
#container-content .content .main-content .down-arrow{
    display: block;
    width:100%;
} 
#container-content .content .main-content .down-arrow i{
    width: 47.5%;
    text-align: center;
    float: left;
    color:#4991d3;
    font-size: 18px;
    margin:7px 0 5px 0;
}
#container-content .content .main-content .down-arrow i:nth-child(2n+1){
    margin-right:5%;
}
#container-content .content .main-content .text_3 .shape-full{
    width:100%;
    height:auto;
    padding:0 20px 20px 20px!important;
    float: left;
    color:#e072a1;
    background-color: #fcf1f6;
    text-align: center;
}
#container-content .content .main-content .text_3 .shape-half {
    width:47.5%;
    height:250px;
    padding:0 20px 20px 20px!important;
    color:#e072a1;
    background-color: #fcf1f6;
    float: left;
    text-align: center;
}
#container-content .shape-half p,#container-content .shape-full p{
    line-height: 13px!important;
    margin:5px 0;
    color: #0f0f0f;
}
#container-content .content .main-content .text_3 .shape-half:nth-child(2n+1){
    margin-right:5%;
}
#container-content .content .article-content-03 .number_item{
    left:-30px!important;
    position: relative;
}


/*apical_web_04jisseki_170322.html*/
#container-content .article-content-04 .box-item {
    float: left;
    width: 49%;
    background-color: #fcf1f6;
    padding:20px;
    margin-bottom: 16px;
}
#container-content .article-content-04 .box-item:nth-child(odd) {
    margin-right:2%;
}
#container-content .article-content-04 .box-item-image{
    float: left;
    width: 50%;
}
#container-content .article-content-04 a>h4{
    width:100%;
    padding:0;
    margin:0;
    font-size: 17px;
    line-height: 24px;
    color:#e072a1;
    font-family: NotoSansJPRegular;
}
#container-content .article-content-04 a{
    width:100%;
    text-decoration: none;
}
#container-content .article-content-04 .description{
    float: left;
    width:50%;
}
#container-content .article-content-04 .description table{
    margin-top:15px;
    font-family:NotoSansJPDemiLight;
}
#container-content .article-content-04 .description td{
    font-size:13px;
    line-height: 26px;
}
#container-content .article-content-04 .description td:last-child{
    padding-left:10px;
    font-family: NotoSansJPLight;
}
#container-content .article-content-04 .description td:first-child {
    color:#e072a1;
    font-family: NotoSansJPDemiLight;
    font-size: 14px;
}
#container-content .article-content-04 .left-position{
    font-size: 13px;
    line-height: 26px!important;
    float: left;
    font-family: NotoSansJPLight;
}
#container-content .article-content-04 .description .left-position {
    margin-top:25px;
    font-family: NotoSansJPLight;
}
#container-content .article-content-04 .description h5{
    color: #e072a1;
    display: inline;
    margin:0;
    padding:0;
    font-family: NotoSansJPRegular;
    font-size:13px;
    line-height: 24px;
}
#container-content .article-content-04 p.left-position{
    margin-bottom: 0 !important;
    line-height:20px!important;
}
#container-content .article-content-04 a.left-position {
    margin-left:13px;
    text-decoration: none;
}
#container-content .article-content-04 .info-text p{
    line-height: 27px!important;
    font-family: NotoSansJPLight;
    margin: 0!important;
}
.font-size-12{
    font-size: 12px!important;
}
.font-size-13{
    font-size: 13px !important;;
}
.font-size-16{
    font-size: 16px!important;
}
.font-size-18{
    font-size:18px!important;
}
.line-height-20{
    line-height: 20px;
}
.line-height-24{
    line-height: 24px;
}
.line-height-26{
    line-height: 26px;
}
.line-height-31{
    line-height: 31px;
}
.td-col-span-2{
    padding: 0!important;
    color:black!important;
    font-family: NotoSansJPLight!important;
}

/*apical_web_08privacy.html*/
#container-content .article-content-08{
    margin-top:60px;
}
#container-content .article-content-08 p{
    font-family: NotoSansJPLight;
    margin-bottom: 50px!important;
    line-height: 27px;
}
#container-content .article-content-08 p:first-child{
    margin-bottom: 5px!important;
}

/*apical_web_05consul.html*/
#container-content .article-content-05 p{
    font-family: NotoSansJPLight;
    margin: 0!important;
    line-height: 27px!important;
}
#container-content .article-content-05{
    margin-top:60px;
}
#container-content .article-content-05 .top-consul-box{
    margin-top:15px;
    margin-bottom: 25px;
    display: flex;
}
#container-content .article-content-05 .top-consul-box .left-box{
    width: 330px;
    float: left;
}
#container-content .article-content-05 .top-consul-box .left-box p{
    color: #4991d3;
}
#container-content .article-content-05 .top-consul-box i{
    float: left;
    margin: 64px 20px 0 10px;
    font-size: 30px;
    color: #4991d3;
}
#container-content .article-content-05 .top-consul-box .right-box{
    float: left;
}
#container-content .article-content-05 .top-consul-box .right-box .right-box-border {
    padding: 20px;
    border: 1px solid #4991d3;
}
.first-consul-box {
    background-color: #e4eff8;
    padding: 20px;
    float: left;
    width:100%;
}
.first-consul-box .circle-consul{
    float: left;
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 60px;
    text-align: center;
}
.first-consul-box .circle-consul p{
    display: table-cell;
    height: 100px;
    vertical-align: middle;
    width: 100px;
    color: #4991d3;
    font-family: NotoSansJPBold!important;
    font-size: 20px!important;
    line-height: 24px!important;
}
.first-consul-box .list-consul-number{
    float: right;
}
.first-consul-box .list-consul-number .box_numchild{
    float: none!important;
    background-color: #ffffff;
    width:610px;
    font-size: 18px;
    line-height: 24px;
    padding: 17px 20px;
    color: #4991d3;
    margin-top:-10px;
    margin-bottom: 0!important;
    margin-right: 0!important;
}
.first-consul-box .list-consul-number .box_numchild:first-child {
    margin-top: 0 !important;
}
.first-consul-box .list-consul-number .number_item{
    background-color: #e4eff8;
}
.first-consul-box .list-consul-number .fa-angle-down{
    font-size: 32px;
    width: 100%;
    text-align: center;
    color: #4991d3;
    line-height: 18px;
}
.middle-consul-box{
    margin-bottom:60px;
}
.middle-consul-box i.middle-arrow{
    float: left;
    font-size: 32px;
    width: 100%;
    text-align: right;
    color: #4991d3;
    line-height: 5px;
    position: relative;
    right: 315px;
}
.second-consul-box {
    background-color: #fcf1f6;
    padding: 20px;
    float: left;
    width:100%;
}
.second-consul-box .list-consul-number{
    float: right;
    width:610px;
}
.second-consul-box .list-consul-number .box_numchild{
    background-color: #ffffff;
    float: none;
    color: #e072a1;
    font-size: 18px;
    line-height: 24px;
    width:100%;
    margin-bottom: 5px!important;
    margin-top: -5px;
    padding: 17px 20px;
}
.second-consul-box .list-consul-number .number_item{
    background-color: #fcf1f6;
}
.second-consul-box .cover_box_numchild{
    width: 100%;
}
.second-consul-box .cover_box_numchild .box_numchild:first-child{
    margin-top: 0 !important;
    width: 235px;
    float: left;
    padding: 17px 0;
    text-align: center;
    position: relative;
}
.second-consul-box .cover_box_numchild .box_numchild:last-child{
    margin-top: 0 !important;
    width: 365px;
    float: right;
    padding: 17px 0;
    text-align: center;
}
.second-consul-box .list-consul-number .fa-angle-down{
    font-size: 32px;
    width: 100%;
    text-align: center;
    color: #eaa1c0;
    line-height: 18px;
}
.second-consul-box .circle-consul{
    float: left;
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 50%;
    margin-left: 15px;
    text-align: center;
    margin-top:170px;
}
.second-consul-box .circle-consul p{
    display: table-cell;
    height: 100px;
    vertical-align: middle;
    width: 100px;
    color: #e072a1;
    font-family: NotoSansJPBold!important;
    font-size: 20px!important;
    line-height: 24px!important;
}
#container-content .article-content-05 .text-consul{
    margin-bottom: 10px!important;
}
#container-content .article-content-05 .text-consul p:first-child{
    font-family: NotoSansJPRegular !important;
    font-size: 18px!important;
    line-height: 24px!important;
}
#container-content .article-content-05 .text-consul p:last-child{
    line-height: 31px!important;
    padding-left: 35px;
}
#container-content .article-content-05 .last-text-consul p{
    font-family: NotoSansJPDemiLight;
    line-height: 27px!important;
}