*{
    margin:0;
    padding:0;
}
@font-face {
    font-family: NotoSansJPRegular;
    src: url(../fonts/NotoSansJP-Regular.otf);
}
@font-face {
    font-family: NotoSansJPThin;
    src: url(../fonts/NotoSansJP-Thin.otf);
}
@font-face {
    font-family: NotoSansJPBold;
    src: url(../fonts/NotoSansJP-Bold.otf);
}
@font-face {
    font-family: NotoSansJPLight;
    src: url(../fonts/NotoSansJP-Light.otf);
}
@font-face {
    font-family: NotoSansJPDemiLight;
    src: url(../fonts/NotoSansJP-DemiLight.otf);
}
body,html{
    font-family:NotoSansJPRegular!important;
    background-color: #eeb8cb!important;
    margin: 0 auto!important;
    font-size: 13px;
    line-height: 27px;
}
.clear-fix{
    display: block;
    clear:both;
}
/*header*/
#header{
    background-color: white;
    width:1000px;
    margin:0 auto;
}
#header a{
    text-decoration: none;
}
#header .logo{
    width:20%;
    float: left;
}
#header .main-menu{
    height:90px;
    float: left;
    padding: 20px 40px;
    width:80%;
}
#header .main-menu .contact{
    border:1px solid #df6f9f;
    padding:2px 20px;
    text-align: center;
    float: right;
    margin-left: 10px;
    color: #df6f9f;
}
#header .main-menu .contact a{
    color: #e072a1;
    font-size: 13px;
    font-family: NotoSansJPRegular;
    line-height: 22px;
}
#header .main-menu .contact .fa-envelope{
    color:#df6f9f;
    font-size: 20px;
    margin-right:5px;
}
#header .main-menu .menu-list{
    padding: 5px 20px;
    float: right;
}
#header .main-menu .menu-list a{
    color: #666666;
    font-size: 12px;
    line-height: 22px;
    font-family: NotoSansJPDemiLight;
}
#header .main-menu .menu-list .fa-play{
    color:#df6f9f;
    background-color: #df6f9f ;
    padding: 0 25px 0 5px;
    margin-right:5px;
    border-radius: 2px;
}
#header .main-menu .menu-list .fa-play::before {
    font-size: 7px;
    position: relative;
    top: -2PX;
    color: #ffffff;
}
#header .main-menu .menu-list li{
    list-style: none;
    display: inline-block;
    margin-left:15px
}
#header .scroll-menu{
    margin-top: 15px;
    float: left;
    width: 100%;
    padding: 0 30px;
}
#header .scroll-menu .item-menu{
    border-right: 1px solid #b3b3b3;
    width: 19.667%;
    list-style: none;
    text-align: center;
    position: relative;
    display: inline-block;
    float: left;
    padding-top: 5px;
}
#header .scroll-menu .item-menu .fa-play{
    display: block;
    font-size: 8px;
    transform: rotate(90deg);
    margin-top: -20px;
    margin-bottom: 5px;
    color: #e072a1;
    width: 5%;
    margin-left: 47%;
}
#header .scroll-menu .item-menu a{
    font-family: NotoSansJPLight;
    font-size: 15px;
    color: black;
    height: inherit;
    position: relative;
    z-index:1000;
}
#header .scroll-menu .item-menu span{
    border-top: 4px solid #e072a1;
    display: block;
    width: 90%;
    margin-left: 5%;
}
#header .scroll-menu .col-md-offset-1{
    margin-left: 0.66667%;
}
#header .scroll-menu .item-menu:first-child{
    border-left : 1px solid #b3b3b3;
    margin-left: 0.66667%;
}
#header .button-header{
    margin-top:30px;
    float: left;
    width:100%;
}
#header .button-header .middle-button{
    width: 275px;
    height: 40px;
    float: left;
    border: none;
    border-radius: 5px;
    margin-left: 36%;
    color: #ffffff;
    font-weight: bold;
    font-family: NotoSansJPBold;
    font-size: 17px;
    background: #e072a1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e072a1,#de6b9c,#cd3e7e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e072a1,#de6b9c,#cd3e7e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e072a1,#de6b9c,#cd3e7e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e072a1,#de6b9c,#cd3e7e); /* Standard syntax */
    opacity:1;
}
#header .button-header .middle-button:hover{
    opacity: 0.5;
}
#header .button-header .box-link{
    float: right;
    margin-right:40px;
    padding-top:6px;
}
#header .button-header .box-link a:first-child{
    border-right: none;
}
#header .button-header .box-link a{
    color: #df6f9f;
    padding:5px 10px;
    border: 1px solid #e072a1;
    float: left;
    font-size: 12.62px;
    font-family: NotoSansJPLight;
}
#header .line-top{
    border-top: 5px solid #e072a1;
    display: block;
    width: 100%;
    float: left;
    margin-top: 25px;
}

/*container-content*/
#container-content{
    background-color: white;
    width:1000px;
    margin:0 auto;
    padding:0 100px;
}
#container-content .top-image{
    padding: 60px 0;
}
#container-content .content .content-title .circle{
    float: left;
    margin-top:5px;
}
#container-content .content .content-title{
    display: table;
    margin: 0 auto;
}
#container-content .content .content-title h1{
    float: left;
    margin: 0 40px;
    border-bottom: 3px solid #e072a1;
    padding-bottom: 20px;
    font-size: 34px;
    font-family: NotoSansJPThin;
}
#container-content .content .content-title .circle-1{
    font-size: 15px;
    color: #fcf1f6;
}
#container-content .content .content-title .circle-2{
    font-size: 20px;
    color: #faeaf1;
}
#container-content .content .content-title .circle-3{
    font-size: 25px;
    color: #f9e3ec;
}
/*Mọi người không chỉnh sửa vào phần trên*/

/*Style cho menu footer*/
#footer{
    height: 155px;
    background-color: #e072a1;
}
.menu ul {
  list-style-type: none;
  text-align: center;
  margin-bottom: 5px !important;
}
.menu li {
  display: inline-block;
  padding-left: 5px;
}
.menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
.menu-first {
    font-family: NotoSansJPDemiLight;
    font-size: 12px;
    margin-top: 17px;
}
.menu ul li a{
    line-height: 13px!important;
    border-bottom: 1px solid #f5d3e2;
    padding-bottom: 7px;
    float: left;
}
.menu ul li i{
    float: left;
    border-right: 1px solid #fbecf2;
    height: 10px;
    margin-left: 7px;
    margin-top: 2px;
}
.menu ul li:last-child i{
    border-right: none;
}
.menu .menu-second {
    font-family: NotoSansJPDemiLight;
    font-size: 12px;
}
.menu .menu-second li a{
    border-bottom: 1px solid #f5d3e2;
}
.apical{
    font-size: 23px;
    font-family: GaramondRegular;
    text-align: center;
    text-transform: uppercase;
    padding-top: 17px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: #fff;
    letter-spacing: 6px;
}
.copyright{
    color: #fff;
    text-align: center;
    font-family: NotoSansJPLight;
    font-size: 10px;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}
.item-menu .hover-menu{
    display: block;
    height: 60px;
    width: 60px;
    border-radius:50% ;
    background-color: #f7dce7;
    opacity: 0;
    top: -20px;
    left: 60px;
    position: absolute;
}
.item-menu:hover .hover-menu,.item-menu .active.hover-menu{
    opacity: 0.5!important;
}
.box-icon{
    float: right;
    margin-right: 30px;
    display: block;
    padding-top: 4px;
    line-height: 40px;
}
.box-icon-content{
    width:32px;
    float: left;
    vertical-align: middle;
    height: 32px;
    background-color: #db6397;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
    line-height: 32px;
}
.box-icon-content a{
    color: #fff !important;
}
.box-icon-content a i.fa{
    vertical-align: -6%;
}
.apical {
    font-size: 23px;
    font-family: GaramondRegular;
    text-align: center;
    text-transform: uppercase;
    padding-top: 17px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: #fff;
    letter-spacing: 6px;
}
#footer .footer-hr-new {
    width: 540px;
    height: 2px;
    margin: auto;
    background-color: #efb8d0;
    margin-top: 20px;
}
#footer .menu {
    width: 545px;
    margin: auto;
    position: relative;
    margin-top: 20px;
}
#footer .footer-middle {
    background-color: #d84c88;
    height: 150px;
}
#footer .footer-last {
    height: 95px;
    background-color: #e072a1;
    color: #fff;
    padding-top: 30px;
    font-size: 10px;
    font-family: NotoSansJPLight;
}
#footer .menu .menu-col-1 {
    width: 33%;
    left: 10px;
    height: 180px;
    position: absolute;
    border-right: 1px dashed #fff;
}
#footer .menu .menu-col-2 {
    width: 30%;
    height: 180px;
    position: absolute;
    left: 240px;
    border-right: 1px dashed #fff;
}
#footer .menu .menu-col-3 {
    width: 30%;
    height: 150px;
    position: absolute;
    left: 450px;
}
#footer .footer-middle .middle-menu {
    width: 800px;
    margin: auto;
    position: relative;
}
#footer .footer-middle .col-middle-1 {
    position: absolute;
    width: 200px;
    height: 100px;
    border-right: 1px dashed #fff;
    margin-top: 20px;
}
#footer .footer-middle .col-middle-2 {
    position: absolute;
    width: 240px;
    height: 90px;
    left: 200px;
    border-right: 1px dashed #fff;
    margin-top: 20px;
}
#footer .footer-middle .col-middle-3 {
    position: absolute;
    width: 200px;
    height: 90px;
    right: 160px;
    border-right: 1px dashed #fff;
    margin-top: 20px;
}
#footer .footer-middle .col-middle-4 {
    position: absolute;
    width: 120px;
    height: 90px;
    right: 0px;
    margin-top: 20px;
}
#footer .footer-top {
    height: 315px;
    background-color: #e072a1;
}
.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
}
#footer .menu-content a {
    font-size: 11px;
    font-family: NotoSansJPDemiLight;
    border-bottom: 1px solid;
    float: left;
    clear: both;
}
#footer .menu-header {
    font-size: 15px;
    margin-bottom: 20px;
    font-family: NotoSansJpRegular;
}
#footer .footer-middle .middle-header {
    margin-bottom: 20px;
    font-family: NotoSansJpRegular;
    font-size: 15px;
}
#footer .footer-middle .middle-content a {
    color: #fff;
}
#footer .middle-content a {
    font-family: NotoSansJPLight;
    font-size: 11px;
    text-decoration: none;
}
#footer .footer-middle .middle-header {
    margin-bottom: 0px;
    font-family: NotoSansJpRegular;
    font-size: 15px;
    color: #fff !important;
}
#footer .footer-middle p{
    margin: 0px;
    margin-bottom: -10px;
}
.relative-banner {
    position: relative;
}
#container-content .d-text-banner {
    width: 255px;
    height: 165px;
    position: absolute;
    top: 165px;
    left: 38px;
}
.relative-banner .d-text-banner .d-text-larg-banner {
    font-family: NotoSansJPLight;
    font-size: 18px;
    color: #fff;
}
.relative-banner .d-text-banner .d-text-small-banner {
    font-family: NotoSansJPDemiLight;
    font-size: 13px;
    color: #fff;
}
.baner-top {
    width: 880px;
    height: 104px;
    margin: auto;
}
.baner-top .banner-content-top {
    width: 240px;
    height: 104px;
    border-right: 1px solid #c4c4c4;
    float: left;
    position: relative;
}
.baner-top .banner-content-top-end {
    width: 150px;
    height: 104px;
    float: left;
}
.baner-top .banner-content-top #acsa {
    padding-top: 25px;
}
.baner-top .banner-content-top #child {
    padding-top: 15px;
    padding-left: 20px;
}
.baner-top .banner-content-top .content-child {
    width: 100px;
    position: absolute;
    top: 25px;
    right: 5px;
    font-family: NotoSansJPLight;
    font-size: 12px;
}
.baner-top .banner-content-top .banner-mother {
    padding-top: 25px;
    padding-left: 25px;
}
.baner-top .banner-content-top .content-mother {
    width: 125px;
    position: absolute;
    top: 25px;
    right: 15px;
    font-family: NotoSansJPLight;
    font-size: 12px;
}
.baner-top .banner-content-top-end .banner-last {
    width: 120px;
    height: 60px;
    background-image: url(../images/bg-banner-last.jpg);
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}
.baner-top .banner-content-top-end .banner-last .icon-banner {
    padding-top: 17px;
    padding-left: 10px;
}
.baner-top .banner-content-top-end .banner-last .content-last {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 14.5px;
    font-family: NotoSansJpRegular;
    color: #fff;
}
#container-content .content .m_text-under_pinkzone a:hover{
    text-decoration: none;
    color: #337ab7;
}
#container-content .d-top-image-1 .slide-left {
    width: 280px;
    height: 484px;
    float: left;
    position: relative;
}

#container-content .d-top-image-1 .slide-left > img {
    position: absolute;
    z-index: 1;
}

#container-content .d-top-image-1 .slider {
    width: 720px;
    height: 484px;
    float: left;
    position: relative;
}
#container-content .d-top-image-1 .slider .slide1,.slide2,.slide3,.slide4,.slide5 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#container-content .d-top-image-1 .slider .slide1 {
    background: url('../images/slide-enterprise-1.jpg')no-repeat center;
    background-size: cover;
    animation:fade 30s infinite;
    -webkit-animation:fade 30s infinite;

}
#container-content .d-top-image-1 .slider .slide2 {
    background: url('../images/slide-enterprise-2.jpg')no-repeat center;
    background-size: cover;
    animation:fade2 30s infinite;
    -webkit-animation:fade2 30s infinite;
}
#container-content .d-top-image-1 .slider .slide3 {
    background: url('../images/slide-enterprise-3.jpg')no-repeat center;
    background-size: cover;
    animation:fade3 30s infinite;
    -webkit-animation:fade3 30s infinite;
}
@keyframes fade
{
    0%   {opacity:1}
    33.333% { opacity: 0}
    66.666% { opacity: 0}
    100% { opacity: 1}
}
@keyframes fade2
{
    0%   {opacity:0}
    33.333% { opacity: 1}
    66.666% { opacity: 0 }
    100% { opacity: 0}
}
@keyframes fade3
{
    0%   {opacity:0}
    33.333% { opacity: 0}
    66.666% { opacity: 1}
    100% { opacity: 0}
}
